@charset "UTF-8";
/** 全体に反映させる **/
ul li a:hover{
  color: #0bd;
    }
html {
    font-size: 100%;
}

.back {
    background-image: url(../image/main-bg.jpg) ;
    background-position: top center;
    background-size: 100%;
    height: 100vh;
}
.header1 {
    width: 50%;
    float: left;
}
.header2 {
    width: 50%;
    float: right;
}
header img{
    width: 14em;
    margin: 1em 30%;
}
header ul {
    display: flex;
    margin: 1em 25%;
}
header ul li {
    list-style-type: none;
    margin: 1em;
    font-size: 1.4em;
}
header a {
    text-decoration: none;
    color: rgb(66, 3, 3);
    font-weight: normal;
}
main {
    clear: left;
}