@charset "UTF-8";

/* header */
header {
    display: flex;
    margin-bottom: 30px;
}
header img {
    margin: 10px auto 0 265px;
}
header nav {
    padding: 0;
    position: relative;
    top: 150px;
    left: 300px;
}
header nav ul {
    list-style-type: none;
    display: flex;

}
header nav ul li {
    padding: 15px;
    font-size: 1em;
    font-weight: bold;
    

}
a {
    text-decoration: none;
    color: #000000;
}
header nav ul li a:hover {
    text-decoration: underline;
    opacity: 0.5;
}
/* main */
main img {
    margin-bottom: 50px;
}
main h1 {
    text-align: center;
    font-size: 25px;
    font-weight: 900;
    letter-spacing: 1px;
    font-family:"Arial";
}
main .pdv {
    height: 1000px;
    margin: 0 150px 0 225px ;
}
main p {
    font-size: 100;
    letter-spacing: 0.5px;
    line-height: 25px;
    font-weight: 600;
    margin-bottom: 100px;
}

main .ttt {
    display: flex;
    background-color: #f1f1f1;
    justify-content: center;
    width: 1100px;
    height: 500px;
}

.home main table,
.home main table th,
.home main table td {
    border-bottom: solid 1px rgb(202, 202, 202);
    border-collapse: collapse;}

main table .tss {
    padding: 20px 425px 20px 0 ;
    font-size: 20px;
    color: #dd8511;
}
main table tbody th {
    padding: 15px 550px 10px 0 ;  
    color: #888888;
}

main table .tss2 {
    padding: 20px 225px 20px 0 ;
}
main table tbody td {
    padding: 15px 200px 10px 0 ;
}
main ul {
    list-style-type: none;
    text-align: center;
    margin-top: 0;
}
main ul li {
    margin-right: 30px;
}
.formbox {
    height: 700px;
}
.fff main h1 {
    margin-bottom: 0;
}
input[type="email"] {
    width: 35%;
    font-size: 1em;
    padding: 15px 0 13px 5px;
    margin-bottom:10px ;
    border: none;
    background-color:#eeeeee;
}
textarea {
    width: 35%;
    height: 330px;
    font-size: 1em;
    border: none;
    background-color:#eeeeee;
}
p.submit {
    margin-left: 420px;
}
input[type="submit"] {
    padding: 15px 30px;
    background-color: #2e2a2a;
    color :#ffffff;
}
/* footer */
footer {
    background: #464444;
    padding: 11px auto 0 auto ;
    position: absolute;
    bottom: 0;
    width: 100%;
    
}
footer p {
    color: #ffffff;
    text-align: center;
}
.footerfixed {
    min-height: 100vh;
    position: relative;
    box-sizing: border-box;
}
